* {
  font-family: work sans,PingFang TC,Microsoft JhengHei,微軟正黑體,STXihei,sans-serif;
}

.slide1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position: 0px -300px;
  background-image: url(//custom-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/13224115/691129_168101.png);
  background-attachment: fixed;
}
nav {
  background-color: transparent;
}

nav ul {
  color: white;
}

nav.nav-white-bg{
  background-color: white;
}

nav.nav-white-bg ul {
  color: black;
}